@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    /* gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
     /* Text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}

main{
    width: 900px;
    height: auto;
    background: #fff;
    border-radius: 1rem;
    display: flex;
}

details summary::-webkit-details-marker {
    display:none;
  }

.col{
    width: 50%;
    padding: 3rem 0;
}

h1{
    padding: 1.5rem 0;
    margin:0;
}

.img-women{
    position: absolute;
}

.img-women{
    background-image: url('images/illustration-woman-online-desktop.svg');
    background-repeat: no-repeat;
    background-position: right center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0rem;
}

.img-group img.women{
    right: 1rem;
    bottom: 8rem;
}

.img-group img.box{
    width: 30%;
    left: 0;
}

.left{
    display: flex;
    justify-content: center;
    background-image: url('images/bg-pattern-desktop.svg');
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    margin-right: 4rem;
    position: relative;
}

ul{
    padding: 0;
    width: 90%;
}



details{
    list-style: none;
    position: relative;
    padding:  1rem 0;
    cursor: pointer;
}

details > summary {
    list-style: none;
}
  
  details summary::-webkit-details-marker {
    display:none;
}

details:hover strong{
    color: var(--soft-red);
}

i{
    position: absolute;
    background-image: url(images/icon-arrow-down.svg);
    height: 15px;
    width: 12px;
    right: 1rem;
    background-repeat: no-repeat;
    top: 1.5rem;
}

hr{
    color: var(--light-grayish-blue);
    opacity: 0.5;
}

strong, p {
    font-weight: 400;
    color: var(--dark-grayish-blue);
}

p{
    font-size: 12px;
}

details[open] summary strong{
    font-weight: 700;
}

details[open] p{
    margin-top: 0.5rem;
    width: 95%;
}

details[open] i{
    transform: rotate(180deg);
    top:1rem;
}


.box{
    animation: 3s infinite alternate slideInBox;
    z-index: 3;
    left: -6rem;
    top: 8rem;
    position: absolute;
}

.img-women{
    animation: 5s infinite alternate slideInWomen;
    z-index: 2;
}

@keyframes slideInBox {
    from {
        transform: translateY(10%);
      }
    
      to {
        transform: translateY(25%);
      }
}

@keyframes slideInWomen {
    from {
        transform: translateY(-5%);
      }
    
      to {
        transform: translateY(0%);
      }
}


@media screen and (max-width: 980px) {

    main{
        width: 400px;
        height: auto;
        flex-direction: column;
        margin-top: 5rem;
    }

    .col{
        width: 100%;
        padding: 0rem;
    }

    h1{
        text-align: center;
        padding: 0;
        margin-bottom: 1rem;
    }

    ul{
        padding: 0 2.5rem;
        width: 100%;
    }

    i{
        right: 0;
        top: 1.5rem;
    }


    .col.left{
        background-image: url('images/bg-pattern-mobile.svg');
        overflow: visible;
        height:160px;
        margin: 0 auto;
        background-size: 100%;
        width: 80%;   
        background-position: top;      
    }

    .col.right{
        position: relative;
        top:-1.25rem;
        padding: 1.25rem 0;
    }

     .img-women {
        height: 400px;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: -12rem;
        overflow: visible;
    } 

    .box{
        width: 30%;
        top: -5rem;
        left:0rem;
    }
}
